:root {
    --white: #ffffff;
    --black: #020202;
    --primary: #aae0c0;
    --secundary: #ddc0a6;
    --gray800: #363636;
    --gray700: #525252;
    --gray600: #626262;
    --gray500: #767676;
    --gray400: #a3a3a3;
}

body {
    max-width: 1920;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    position: relative;

    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    text-align: center;
    letter-spacing: 0px;
    max-width: 1920px;
    margin: 0 auto;
}

/* LINE 01 **************************************************/

#line-01 {
    background-image: url(assets/imagem4.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
    max-width: 1920px;
    max-height: 1285px;
    display: flex;
    flex-direction: column;
}

#line-01 .container-01 {
    width: 100%;
    height: 413px;
    margin-top: 80px;
    color: var(--gray600);
    font: italic normal 800 295px/443px "Poppins";
}
#line-01 .container-02 {
    width: 100%;
}
#line-01 .container-02 img {
    width: 60%;
}
#line-01 .container-02 .shadow {
    width: 50%;
}

/* LINE 02 **************************************************/

#line-02 {
    background-color: var(--gray800);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    height: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#line-02 .container-01 {
    margin-top: 116px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

#line-02 .container-01 .title {
    color: var(--white);
    font: normal normal bold 70px/90px "Poppins";
}
#line-02 .container-01 .bar {
    width: 149px;
    height: 16px;
    background-color: var(--secundary);
}

#line-02 .container-01 .description {
    width: 1250px;
    height: 289px;
    color: var(--white);
    font: normal normal 300 35px/60px "Poppins";
}

#line-02 .mobile-wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#line-02 .container-02 {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#line-02 .container-02 .title {
    width: 100%;
    height: 56px;
    color: var(--secundary);
    font: normal normal bold 40px/90px "Poppins";
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#line-02 .container-02 .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LINE 03 **************************************************/

#line-03 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    height: 960px;
}

#line-03 .container-01 {
    background-image: url(./assets/line03left.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#line-03 .container-01 .title.hidden {
    display: none;
}
#line-03 .container-01 .wrapper.hidden {
    display: none;
}
#line-03 .container-01 .title {
    width: 638px;
    height: 259px;
    text-align: left;
    font: normal normal 900 70px/80px "Poppins";
    color: var(--white);
}
#line-03 .container-01 .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 630px;
}
#line-03 .container-01 .wrapper .bar {
    width: 149px;
    height: 16px;
    background-color: var(--secundary);
}
#line-03 .container-02 {
    background-image: url(./assets/line03right.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#line-03 .container-02 .title {
    width: 638px;
    height: 259px;
    text-align: left;
    font: normal normal 900 70px/80px "Poppins";
    color: var(--white);
}
#line-03 .container-02 .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 630px;
}

#line-03 .container-02 .wrapper .bar {
    width: 149px;
    height: 16px;
    background-color: var(--secundary);
}
#line-03 .container-02 .description {
    width: 638px;
    height: 463px;
    text-align: left;
    font: normal normal medium 30px/60px "Poppins";
    font-size: 30px;
    color: var(--white);
}

/* LINE 04 **************************************************/

#line-04 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    height: 960px;
    background-color: var(--white);
}

#line-04 .container-01 {
    width: 50%;
    height: 100%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
#line-04 .container-01 .title {
    width: 638px;
    height: 179px;
    margin-top: 120px;

    color: var(--gray800);
    text-align: left;
    font: normal normal 900 70px/80px Poppins;
}
#line-04 .container-01 .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 630px;
}
#line-04 .container-01 .wrapper .bar {
    width: 149px;
    height: 16px;
    background-color: var(--secundary);
}

#line-04 .container-01 .description {
    width: 638px;
    height: 463px;
    text-align: left;
    font: normal normal medium 30px/60px "Poppins";
    font-size: 30px;
    color: var(--gray500);
}

#line-04 .container-02 {
    background-image: url(./assets/line04.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* LINE 05 **************************************************/
#line-05 {
    background-image: url(./assets/line05.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    height: 1170px;
    background-color: var(--gray700);
}

#line-05 .container-01 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

#line-05 .container-02 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#line-05 .container-02 .title {
    width: 853px;
    height: 428px;
    text-align: left;
    font: normal normal 900 120px/130px "Poppins";
    color: var(--white);
}

/* range slider with ticks and values/ **************************************************/

.range {
    margin-top: 28px;
    position: relative;
    width: 620px;
    height: 40px;
    z-index: 10;
}
#line-02 .range .bar {
    position: absolute;
    height: 25px;
    width: 620px;
    top: -36px;
    left: 3px;
    z-index: 1;
    background-color: white;
    border-radius: 20px;
    pointer-events: none;
}
.range input {
    width: 100%;
    position: absolute;

    top: -26px; /* moz */
    top: -60px; /* chrome */
    left: 0px;
    height: 0px;
    -webkit-appearance: none;
    z-index: 10;
}
@-moz-document url-prefix() {
    .range input {
        top: -26px; /* moz */
    }
}
.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 70px;
    height: 70px;

    border-radius: 50%;
    background: var(--secundary);
    cursor: pointer;
    border: 5px solid white !important;
}
.range input::-moz-range-thumb {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    background: var(--secundary);
    cursor: pointer;
    border: 5px solid white !important;
}
.range input::-ms-thumb {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    background: var(--white);
    cursor: pointer;
    border: 5px solid white !important;
}

.range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
}
.range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
}
.range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
}
.range input:focus {
    background: none;
    outline: none;
}
.range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
}
.range-labels li {
    position: relative;
    float: left;
    width: 90.25px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
    font: normal normal 300 40px/130px "Poppins";
}
.range-labels li::before {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 25px;
    height: 25px;
    background: var(--secundary);
    border-radius: 50%;
}
.range-labels li::after {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 25px;
    height: 25px;
    background: var(--secundary);
    border-radius: 50%;
}
.range-labels .active {
    color: var(--secundary);
}

.range-labels .selected::before {
    background: var(--secundary);
}
.range-labels .active.selected::before {
    display: none;
}

#line-06 .shoe .sync-thumb {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LINE 06 **************************************************/

#line-06 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    height: 1300px;
    background-image: url(assets/line06.png);
}

#line-06 .container-01 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#line-06 .container-01 .title,
#line-06 .container-01 .wrapper {
    display: none;
}

#line-06 .container-01 .shoe {
    width: 100%;
  
}
#line-06 .container-01 .shoe img {
    width: 90%;
}

#line-06 .container-01 .option {
    list-style: none;
    display: flex;
    flex-direction: row;
}
#line-06 .container-01 .option li {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 50px;
    border: solid 5px white;
}

#line-06 .container-01 .option .black {
    background-color: var(--black);
}
#line-06 .container-01 .option .white {
    background-color: var(--white);
}
#line-06 .container-01 .option .brown {
    background-color: var(--secundary);
}
#line-06 .container-01 .option .green {
    background-color: var(--primary);
}

#line-06 .container-02 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 50px;
}

#line-06 .container-02 .title {
    font: normal normal 900 70px/70px "Poppins";
    color: var(--gray700);
}
#line-06 .container-02 .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 630px;
}
#line-06 .container-02 .wrapper .bar {
    width: 149px;
    height: 16px;
    background-color: var(--secundary);
}
#line-06 .container-02 .description {
    width: 100%;
    padding: 0;
}
#line-06 .container-02 .description li {
    width: 100%;
    height: 80px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#line-06 .container-02 .description li img {
    width: 50px;
    height: 50px;
}
#line-06 .container-02 .description li span {
    font: normal normal medium 30px/40px "Poppins";
    color: var(--gray500);
    padding-left: 30px;
    font-size: 30px;
    width: 519px;
    text-align: left;
    line-height: 30px;
}

#line-06 .container-02 .slider-nav {
}
#line-06 .container-02 .slider-nav div {
    padding-left: 10px;
    padding-right: 10px;
}

#line-06 .container-02 .slider-nav div img {
    width: 140px;
    height: 140px;
}

.js .slider-single > div:nth-child(1n + 2) {
    display: none;
}

.js .slider-single.slick-initialized > div:nth-child(1n + 2) {
    display: block;
}

/* media ************************************************************/
/* 01 */
@media (max-width: 1250px) {
    #line-01 .container-01 {
        display: flex;
        align-items: center;
        justify-content: center;
        font: italic normal 800 "Poppins";
        font-size: 200px;
        height: 200px;
        margin-top: 0px;
    }
}
@media (max-width: 850px) {
    #line-01 .container-01 {
        font: italic normal 800 "Poppins";
        font-size: 66px;
    }
    #line-01 .container-02 img {
        width: 70%;
    }
    #line-01 .container-02 .shadow {
        width: 60%;
    }
}
@media (max-width: 400px) {
    #line-04 .container-01 .title {
        width: 85%;
        height: 10%;
        font-size: 30px;
        line-height: 60px;
    }
    #line-04 .container-01 .description {
        width: 85%;
        height: 526px;

        font-size: 20px;
        line-height: 40px;
    }
}

/* 02 */
@media (max-width: 1920px) {
    #line-02 {
        height: 1368px;
    }
    #line-02 .container-01 .description {
        width: 80%;
        height: 655px;
        color: var(--white);
        font: normal normal 300 35px/60px "Poppins";
    }
}
@media (max-width: 768px) {
    #line-02 {
        height: unset;
    }

    #line-02 .container-01 {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 0px;
        font-size: 18px;
        justify-content: flex-start;
    }

    #line-02 .container-01 .title {
        color: var(--white);
        font: normal normal bold 70px/90px "Poppins";
        font-size: 18px;
        line-height: 30px;
        margin-top: 20px;
    }
    #line-02 .container-01 .bar {
        width: 41px;
        height: 5px;
        background-color: var(--secundary);
    }

    #line-02 .container-01 .description {
        width: 100%;
        font-size: 20px;
        height: 440px;
        line-height: 35px;
    }

    #line-02 .mobile-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        max-width: 275px;
    }

    #line-02 .container-02 .title {
        width: 100%;
        height: 56px;
        color: var(--secundary);
    }
}
@media (max-width: 350px) {
    #line-02 {
        height: 820px;
    }
}

/* 03 */
@media (max-width: 1920px) {
    #line-03 {
        flex-direction: column;
        max-width: 1920px;
    }
    #line-03 .container-01 {
        flex-direction: column;
        max-width: 1920px;
        width: 100%;
        height: 50%;
    }
    #line-03 .container-01 .title.hidden {
        display: flex;
        width: 85%;
        font-size: 70px;
        line-height: 60px;
        height: 25%;
    }
    #line-03 .container-01 .wrapper.hidden {
        display: flex;
        width: 85%;

        height: 25%;
        display: flex;

        align-items: flex-end;
    }
    #line-03 .container-01 .wrapper.hidden .bar {
        width: 110px;
        height: 12px;
    }
    #line-03 .container-02 {
        width: 100%;
        height: 50%;
    }
    #line-03 .container-02 .title.hidden {
        display: none;
    }
    #line-03 .container-02 .wrapper.hidden {
        display: none;
    }
    #line-03 .container-02 .description {
        width: 85%;
        font-size: 40px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    #line-03 .container-01 .title.hidden {
        font-size: 40px;
    }

    #line-03 .container-02 .description {
        font-size: 20px;
    }
}
@media (max-width: 350px) {
    #line-03 {
        height: 1100px;
    }
}

/* 04 */
@media (max-width: 1920px) {
    #line-04 {
        flex-direction: column-reverse;
        height: 1380px;
    }

    #line-04 .container-01 {
        width: 85%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #line-04 .container-01 .title {
        width: 85%;
        margin-top: 0px;
        height: 15%;
        font-size: 60px;
        line-height: 60px;
    }
    #line-04 .container-01 .wrapper {
        width: 85%;
    }

    #line-04 .container-01 .wrapper .bar {
        width: 83px;
        height: 9px;
        background-color: var(--secundary);
    }
    #line-04 .container-01 .description {
        width: 100%;
        height: 463px;

        font-size: 40px;
        line-height: 50px;
    }
    #line-04 .container-02 {
        width: 100%;
        height: 50%;
    }
}
@media (max-width: 768px) {
    #line-04 {
        flex-direction: column-reverse;
        height: 1060px;
    }
    #line-04 .container-01 {
        width: 85%;
        height: 70%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #line-04 .container-01 .title {
        font-size: 40px;
        line-height: 60px;
    }

    #line-04 .container-01 .description {
        font-size: 20px;
        line-height: 50px;
    }
    #line-04 .container-02 {
        width: 100%;
        height: 30%;
    }
}
@media (max-width: 375px) {
    #line-04 .container-01 .title {
        width: 100%;
    }
}
@media (max-width: 350px) {
    #line-04 .container-01 .title {
        width: 100%;
        margin-top: 0px;
        height: 15%;
        font-size: 30px;
        line-height: 50px;
    }
    #line-04 .container-01 .description {
        font-size: 20px;
        line-height: 40px;
    }
}
/* 05 */
@media (max-width: 1920px) {
    #line-05 {
        background-image: url(./assets/line05.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        max-width: 1920px;
        height: 1170px;
        background-color: var(--gray700);
    }
    #line-05 .container-01 {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    #line-05 .container-02 {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #line-05 .container-02 .title {
        width: 750px;
        height: 428px;
        text-align: left;
        font: normal normal 900 120px/130px "Poppins";
        color: var(--white);
    }
}
@media (max-width: 768px) {
    #line-05 {
        background-image: url(./assets/line05.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1920px;

        background-color: var(--gray700);
        height: 300px;
    }
    #line-05 .container-01 {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    #line-05 .container-02 {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #line-05 .container-02 .title {
        width: 50%;
        height: 100%;
        text-align: left;
        color: var(--white);
        font-size: 25px;
        line-height: 40px;
        display: flex;
        align-items: center;
    }
}

/* 06 */
@media (max-width: 1920px) {
    #line-06 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1920px;
        height: 2000px;
        background-color: rgb(221, 221, 221);
    }

    #line-06 .container-01 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60%;
    }
    #line-06 .container-01 .title,
    #line-06 .container-01 .wrapper {
        display: flex;
    }
    #line-06 .container-01 .title {
        font: normal normal 900 70px/70px "Poppins";
        text-align: left;
        color: var(--gray700);
        width: 85%;
        font-size: 80px;
        line-height: 80px;
        margin-top: 90px;
    }
    #line-06 .container-01 .wrapper {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 85%;
    }
    #line-06 .container-01 .wrapper .bar {
        width: 149px;
        height: 16px;
        background-color: var(--secundary);
    }

    #line-06 .container-02 {
        display: flex;
        flex-direction: column;
        width: 85%;
        justify-content: flex-start;
        align-items: center;
    }
    #line-06 .container-02 .title,
    #line-06 .container-02 .wrapper {
        display: none;
    }
    #line-06 .container-01 .option {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 50px 0px;
        padding: 0px;
        align-content: space-around;
        align-items: center;
        justify-content: space-between;
    }
    #line-06 .container-01 .option li {
        margin-left: 5px;
        margin-right: 5px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 0px;
        border: solid 5px white;
    }

    #line-06 .container-01 .option .black {
        background-color: var(--black);
    }
    #line-06 .container-01 .option .white {
        background-color: var(--white);
    }
    #line-06 .container-01 .option .brown {
        background-color: var(--secundary);
    }
    #line-06 .container-01 .option .green {
        background-color: var(--primary);
    }
    #line-06 .container-02 .description {
        width: 100%;
        padding: 0;
    }
    #line-06 .container-02 .description li {
        width: 100%;
        height: 150px;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #line-06 .container-02 .description li img {
        width: 70px;
        height: 70px;
    }
    #line-06 .container-02 .description li span {
        font: normal normal medium 30px/40px "Poppins";
        color: var(--gray500);
        padding-left: 30px;
        font-size: 40px;
        width: 780px;
        text-align: left;
        line-height: 50px;
    }

    #line-06 .container-02 .slider-nav {
    }
    #line-06 .container-02 .slider-nav div {
        padding-left: 10px;
        padding-right: 10px;
    }

    #line-06 .container-02 .slider-nav div img {
        width: 140px;
        height: 140px;
    }
}
@media (max-width: 768px) {
    #line-06 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1920px;
        height: 1200px;
        background-color: rgb(221, 221, 221);
    }

    #line-06 .container-01 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60%;
    }
    #line-06 .container-01 .title,
    #line-06 .container-01 .wrapper {
        display: flex;
    }
    #line-06 .container-01 .title {
        font: normal normal 900 70px/70px "Poppins";
        text-align: left;
        color: var(--gray700);
        width: 85%;
        font-size: 40px;
        line-height: 50px;
        margin-top: 90px;
    }
    #line-06 .container-01 .wrapper {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 85%;
        margin-bottom: 50px;
    }
    #line-06 .container-01 .wrapper .bar {
        width: 149px;
        height: 16px;
        background-color: var(--secundary);
    }
    #line-06 .container-01 .shoe {
        width: 100%;
    }
    #line-06 .container-01 .shoe img {
        width: 80%;
    }

    #line-06 .container-02 {
        display: flex;
        flex-direction: column;
        width: 85%;
        justify-content: flex-start;
        align-items: center;
    }
    #line-06 .container-02 .title,
    #line-06 .container-02 .wrapper {
        display: none;
    }
    #line-06 .container-01 .option {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 20px 0px;
        padding: 0px;
        align-content: space-around;
        align-items: center;
        justify-content: space-between;
    }
    #line-06 .container-01 .option li {
        margin-left: 5px;
        margin-right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 0px;
        border: solid 5px white;
    }

    #line-06 .container-01 .option .black {
        background-color: var(--black);
    }
    #line-06 .container-01 .option .white {
        background-color: var(--white);
    }
    #line-06 .container-01 .option .brown {
        background-color: var(--secundary);
    }
    #line-06 .container-01 .option .green {
        background-color: var(--primary);
    }
    #line-06 .container-02 .description {
        width: 100%;
        padding: 0;
    }
    #line-06 .container-02 .description li {
        width: 100%;
        height: 80px;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #line-06 .container-02 .description li img {
        width: 20px;
        height: 20px;
    }
    #line-06 .container-02 .description li span {
        font: normal normal medium 30px/40px "Poppins";
        color: var(--gray500);
        padding-left: 30px;
        font-size: 20px;
        width: 519px;
        text-align: left;
        line-height: 30px;
    }

    #line-06 .container-02 .slider-nav {
    }
    #line-06 .container-02 .slider-nav div {
        padding-left: 5px;
        padding-right: 5px;
    }

    #line-06 .container-02 .slider-nav div img {
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 350px) {
    #line-06 {
        height: 1200px;
    }
    #line-06 .container-01 .wrapper {
        margin-bottom: 50px;
    }
    #line-06 .container-02 .description li {
        height: 100px;
    }
    #line-06 .container-02 .description li span {
        font-size: 18px;
        line-height: 25px;
    }
}

/* range */
@media (max-width: 1920px) {
    .range input {
        width: 100%;
        position: absolute;

        top: -60px; /* chrome */

        left: 0px;
        height: 0px;
        -webkit-appearance: none;
        z-index: 10;
    }
    @-moz-document url-prefix() {
        .range input {
            top: -25px; /* moz */
        }
    }
}
@media (max-width: 768px) {
    .range input {
        width: 100%;
        position: absolute;

        top: -19px; /* chrome */
        left: 0px;
        height: 0px;
        -webkit-appearance: none;
        z-index: 10;
    }
    @-moz-document url-prefix() {
        .range input {
            top: -5px; /* moz */
        }
    }

    .range input::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 30px;
        height: 30px;

        border-radius: 50%;
        background: var(--secundary);
        cursor: pointer;

        box-sizing: border-box;
        border: 10px solid white !important;
    }
    .range input::-moz-range-thumb {
        width: 30px;
        height: 30px;

        border-radius: 50%;
        background: var(--secundary);
        cursor: pointer;

        box-sizing: border-box;
        border: 10px solid white !important;
    }
    .range input::-ms-thumb {
        width: 30px;
        height: 30px;

        border-radius: 50%;
        background: var(--white);
        cursor: pointer;

        box-sizing: border-box;
        border: 10px solid white !important;
    }
    #line-02 .container-02 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .range {
        margin-top: 28px;
        max-width: 275px;
        height: 22px;
        width: 100%;
    }
    .range-labels {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .range-labels li {
        position: relative;
        float: left;
        width: 30px;
        text-align: center;
        color: var(--white);
        cursor: pointer;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }
    .range-labels li::before {
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        content: "";
        margin: 0 auto;
        width: 15px;
        height: 15px;
        background: var(--secundary);
        border-radius: 50%;
    }
    .range-labels li::after {
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        content: "";
        margin: 0 auto;
        width: 15px;
        height: 15px;
        background: var(--secundary);
        border-radius: 50%;
    }
    #line-02 .range .bar {
        position: absolute;
        height: 6px;
        width: 275px;
        top: -5px;
        left: 2px;
        z-index: 1;
        background-color: white;
        border-radius: 20px;
        pointer-events: none;
    }
}

